.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.col-3 {
  flex-basis: 25%;
  max-width: 25%;
  width: 25%;
  padding: 0px 10px;
}
.col-4 {
  flex-basis: 33.33%;
  max-width: 33.33%;
  width: 33.33%;
  padding: 0px 10px;
}
.col-10 {
  flex-basis: 83.33%;
  max-width: 83.33%;
  width: 83.33%;
  padding: 0px 10px;
}
.col-6 {
  flex-basis: 50%;
  max-width: 50%;
  width: 50%;
  padding: 0px 10px;
}
.col-8 {
  flex-basis: 66.66%;
  max-width: 66.66%;
  width: 66.66%;
}
.col-9 {
  flex-basis: 75%;
  max-width: 75%;
  width: 75%;
  padding: 0px 10px;
}
.col-12 {
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
  padding: 0px 10px;
}
@media (max-width: 1300px) {
  .dn {
    display: none;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
    padding: 0px 10px;
  }
  .col-md-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
    width: 33.33%;
    padding: 0px 10px;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
    padding: 0px 10px;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    padding: 0px 10px;
  }
}
@media (max-width: 980px) {
  .dnsm {
    display: none;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
    padding: 0px 10px;
  }
  .col-sm-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
    width: 33.33%;
    padding: 0px 10px;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
    padding: 0px 10px;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    padding: 0px 10px;
  }
}
@media (max-width: 650px) {
  .col-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
    padding: 0px 10px;
  }
  .col-xs-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
    width: 33.33%;
    padding: 0px 10px;
  }
  .col-xs-6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
    padding: 0px 10px;
  }
  .col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    padding: 0px 10px;
  }
}
