@media (max-width:1600px) {
  .container {
    max-width: 90%;
  }

  .main {
    &__info--wrapper {
      display: flex;
      justify-content: center;

      .main__mater--box {
        max-width: 600px;

        .main__mater--left {
          max-width: 200px;
          min-width: 100px;

        }

        .main__mater--right-info {
          max-width: 80%;
        }

        .main__mater--right {
          height: 100%;
          max-width: 340px;
        }
      }
    }
  }
}

@media (max-width:1330px) {
 
  .header__Full{
    .header{
      &__input{
        &--box{
          input{
            padding: 6px 5px 6px 7px;
          font-size: 16px;

          }
        }
      }
      &__minu{
        &--center{
          &-list{
            li{
            margin: 0 20px 0 0;
            }
          }
        }
        &--left {
          &-logo {
            margin-left: 10px;
            padding: 13px 0;
  
            img {
              width: 130px;
            }
          }
        }
      }
    }
  }
  .main {
    &__about--us-icon .icons {
      margin: 0 0px 20px;
    }
  }
}

@media (max-width:1130px) {
  .header__Full {
    .header__minu--center-list li {
      margin: 0 15px 0 0;
      position: relative;
      font-size: 15px;
    }

    .header__minu {
      &--right {
        display: flex;
        font-size: 15px;

        &-text {
          a {
            margin-right: 10px;
          }
        }

        &-icon {
          i {
            margin-right: 10px;
            font-size: 15px;
          }
        }
      }

      &--left {
        &-logo {
          img {
            width: 120px;
          }
        }
      }
    }

  }

  .main {
    .slider {
      &__corusel {
        height: 30vh;
      }
    }
  }
}

@media(max-width: 980px) {
  .footer {
    &__right {
      padding: 0 0 0 50px;
      font-size: 12px;

      &--purchase {
        img {
          width: 75px;
          height: 40px;
          border-radius: 8px;
          margin: 5px;
        }
      }
    }

    &__text {
      text-align: center;
      position: relative;

      h5 {
        font-size: 24px;
        padding-bottom: 0px;

        .text {
          display: block;
          font-size: 16px;
        }
      }

      p {
        font-size: 10px;
        position: absolute;
        left: 50%;
        display: none;
      }

      &--list {
        li {
          font-size: 14px;
        }
      }
    }
  }
}

@media(max-width: 940px) {
  .call {
    bottom: 180px;
  }

  .header__Full {
    .header {
      display: none;

      &__minu {

        &--center {
          width: 100%;
          display: flex;
          justify-content: center;

          .input {
            width: 90%;
            background-color: #ffffff;
            border: 1px solid #fff;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            input {
              width: 90%;
              height: 25px;
              border: none;
              outline: none;
              margin: 0 0 0 5px;
              background-color: #ffffff;
              // font-size: 15px;
            }

            i {
              color: #8cb3f8;
            }
          }
        }
      }

      &__media {
        display: block;
        padding: 10px 0;
        position: relative;
        z-index: 10;
      }

      &__phone {
        display: block;
        position: fixed;
        z-index: 33;
        bottom: 0;
      }

      .header__minu--right-icon {
        i {
          font-size: 23px;
          position: absolute;
          right: 10px;
          top: 31px;
        }
      }

      .header__minu--left-logo {
        margin-left: 0;
        padding: 0;

        img {
          width: 140px;
          display: flex;
          align-items: center;
          justify-content: start;
        }
      }

      &__bottom {
        display: none;
      }
    }

  }

  .main {
    .slider {
      &__corusel {
        height: 25vh;
      }
    }

    &__address {
      height: 400px;
    }

    &__web {
      .main__info--box-body {
        flex-direction: column;
        justify-content: center;

        .box-left {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-bottom: 15px;
        }

        .box-right {
          margin-left: 0;
          flex-direction: row;
          width: auto;

          .box-right-time {
            margin: 20px 0;
          }
        }
      }
    }
  }

  .footer {
    &__foot {
      font-size: 20px;
      padding-top: 10px;
    }

  }
}

@media(max-width: 650px) {
  .call {
    bottom: 150px;
    right: 80px;

    .circle {
      width: 50px;
      height: 50px;
    }
  }

  @keyframes call {
    0% {
      transform: scale(1);
      background-color: #8cb3f8;
    }

    100% {
      transform: scale(2);
      background-color: #8cb4f852;
    }
  }

  .main {
    .slider {
      &__corusel {
        height: 20vh;
      }
    }

    &__info {
      &--wrapper {
        .col-xs-12 {
          display: flex;
          justify-content: center;
        }

        &-box {
          margin: 5px 0 10px 0;

        }

        &-time {
          .link {
            font-size: 14px;
          }

          .a-right {
            font-size: 13px;
          }
        }
      }
    }

    &__info--wrapper {
      display: flex;
      justify-content: center;

      .main__mater--box {
        max-width: 450px;
        max-height: 260px;

        .main__mater--left {
          max-width: 150px;
          min-width: 100px;

        }

        .main__mater--right-info {
          max-width: 80%;

          .info-p {
            overflow: auto;
            max-height: 100px;
          }
        }

        .main__mater--right {
          height: 100%;
          max-width: 250px;
        }

        .main__info--price-new {
          h4 {
            font-size: 16px;
            max-width: 118px;
            max-height: 35px;
            cursor: default;
          }

          .wrap__icon {
            padding: 8px 10px;
          }
        }
      }
    }

    &__address {
      height: 350px;
    }
  }

  .footer {
    &__foot {
      font-size: 17px;
      padding-top: 10px;

      a i {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media(max-width: 550px) {
  .header__Full {
    .click__left--end-list li {
      font-size: 20px;
      margin-bottom: 40px;
    }

    .header {
      &__minu {
        display: flex;
        flex-direction: column;

        &--left {
          width: 80%;
          display: flex;
          justify-content: start;

            .header__minu--left-logo {

              img {
                display: block;
                width: 110px;
                margin:5px 0 10px 0;
              }
            }

          .header__minu--right-icon {
            i {
              right: 8%;
              top: 40px;
            }
          }
        }


      }

    }

    .beskit {
      width: 100%;
      transform: translateX(1000px);
    }
  }

  .main {
    .slider {
      &__corusel {
        height: 15vh;
      }
    }

    &__info--wrapper {
      .main__mater--box {
        max-width: 420px;
        min-width: 100%;
        min-height: 560px;
        display: flex;
        justify-content: center;
        margin-right: 0;

        .main__mater--left {
          max-width: 100%;
          min-width: 100%;
          height: 250px;

          img {
            display: flex;
            justify-content: center;
          }
        }

        .main__mater--right-info {
          max-width: 80%;
          // display: none;
          height: 30%;
          margin-top: 20px;

          .info-p {
            overflow: auto;
            max-height: 300px;
          }
        }

        .main__mater--right {
          height: 100%;
          max-width: 100%;
        }

        .main__info--price {
          margin-top: auto;

          &-new {
            h4 {
              font-size: 20px;
              max-width: 200px;
              min-height: 40px;
              cursor: default;
            }

            .wrap__icon {
              padding: 10px 12px;
            }
          }

        }
      }
    }

    &__address {
      height: 300px;
    }

    &__form {
      .form .input input {
        width: 100%;
        height: 50px;
        padding: 20px 10px;
        font-size: 12px;
      }
    }
  }

  .footer {
    margin-bottom: 40px;

    &__right {
      text-align: center;
      padding: 0;

      .col-6 {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
      }
    }

    &__foot {
      font-size: 17px;
      padding-top: 10px;

      a i {
        width: 26px;
        height: 26px;
        margin: 0 5px 0 5px;
      }
    }
  }
}

@media(max-width: 400px) {
  .header__Full {
    .click {
      &__left {
        &--start {
          max-width: 50px;
        }

        &--end {
          padding: 50px 20px 0px;

          li {
            margin-bottom: 30px;
            font-size: 15px;
          }

          &-list {
            min-width: 144px;
          }
        }
      }
    }
  }

  .main {
    .slider {
      &__corusel {
        height: 10vh;
      }
    }

    &__info {
      &--wrapper {

        &-box {
          width: 250px;

          .main__info--img-i {
            min-width: 200px;
            min-height: 230px;
          }

          .main__info--price-new h4 {
            width: 162px;
          }
        }
      }
    }

    &__form {
      .form .input input {
        width: 100%;
        height: 50px;
        padding: 15px 8px;
        font-size: 11px;
      }
    }

    .footer {
      &__right {
        padding: 0;
      }

      &__text {
        h5 {
          .text {
            display: block;
            font-size: 12px;
          }
        }
      }
    }

    &__web {
      .main__info--box {
        .box-right-tabs-list li a {
          font-size: 12px;
          padding: 0 5px;
        }
      }


    }

  }

  @keyframes anime {
    0% {
      transform: translateX(-100px);
      opacity: 0;
      transition: .5s;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

}
@media(max-height: 400px) {
  .main{
    &__call{
      &--box{
        height: 300px;
        &-icon{
          i{
            position: relative;
            top: 30px;
          }
        }
        &-info{
          margin-bottom: 25px;
        }
      }
    }
  }
.call {
    bottom: 90px;
}
}